<a href="https://colab.research.google.com/github/KindOrca/ds-section1-sprint1-new/blob/main/111_2%EC%B0%A8_%EC%A0%9C%EC%B6%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img src='https://i.imgur.com/RDAD11M.png' width = '200' align = 'right'>

## *DATA SCIENCE / SECTION 1 / SPRINT 1 / NOTE 1*

---

# ğŸ“ Assignment

# 1. ë°ì´í„°ì…‹ ë¶ˆëŸ¬ì˜¤ê¸° ë° í™•ì¸ 

- ë‹¤ìŒ urlì—ì„œ ì—‘ì…€ íŒŒì¼ì„ ë¶ˆëŸ¬ì˜¤ì„¸ìš”. (pandas excel) 
  - https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/stocks/Travel.xlsx
  - íŒŒì¼ì€ 2ê°œì˜ ì‹œíŠ¸ë¡œ êµ¬ì„±ë˜ì–´ ìˆìœ¼ë©° ê°ê° ì´ë¦„ì€ 008770, 035250 ì…ë‹ˆë‹¤.

- ë°ì´í„°ì…‹ ë³€ìˆ˜ì˜ ì´ë¦„ì€ df1, df2ë¡œ ì €ì¥í•˜ì„¸ìš”.

- rowê°€ ì•„ë‹Œ columnì— 'ë§¤ì¶œì•¡', 'ì˜ì—…ì´ìµ' ì´ ê°€ë„ë¡ ë°ì´í„°ë¥¼ transpose í•˜ì„¸ìš”.

- ì´í›„ ì•„ë˜ ë§í¬ë¥¼ ì°¸ì¡°í•˜ì—¬ ì²«ë²ˆì§¸ rowë¥¼ column nameìœ¼ë¡œ ì„¤ì •í•˜ì„¸ìš”. <br>
  https://stackoverflow.com/questions/31328861/python-pandas-replacing-header-with-top-row

- ë°ì´í„°ì˜ dimensionì„ í™•ì¸í•˜ì„¸ìš”.

- ë°ì´í„°ì˜ ê²°ì¸¡ì¹˜ê°€ ì–´ë””ì— ìˆëŠ”ì§€ í™•ì¸ í›„ 0ìœ¼ë¡œ ëŒ€ì²´í•˜ì„¸ìš”.

- ì½ì—ˆë˜ ì—‘ì…€ íŒŒì¼ì˜ ë‚´ìš©ì„ 2ê°œì˜ csvë¡œ ê°ê° ì¶œë ¥í•˜ì„¸ìš”. (python export csv) 
  - ì´ë¦„ì€ ê°ê° df1.csv, df2.csv ì…ë‹ˆë‹¤.

In [2]:
import pandas as pd
import numpy as np

# url ì—ì„œ ì—‘ì…€ íŒŒì¼ ë¶ˆëŸ¬ì˜¤ê¸°
url = 'https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/stocks/Travel.xlsx'

# df1, df2ì— ì €ì¥
df1 = pd.read_excel(url, sheet_name = '008770 ')
df2 = pd.read_excel(url, sheet_name = '035250')

# rowê°€ ì•„ë‹Œ columnì— 'ë§¤ì¶œì•¡', 'ì˜ì—…ì´ìµ'ì´ ê°€ë„ë¡ ë°ì´í„° transposeí•˜ê¸°
df1 = df1.T
df2 = df2.T

# ì²« ë²ˆì§¸ rowë¥¼ column nameìœ¼ë¡œ ì„¤ì •
new_header = df1.iloc[0]
df1 = df1[1:]
df1.columns = new_header
new_header2 = df2.iloc[0]
df2 = df2[1:]
df2.columns = new_header2

# ë°ì´í„°ì˜ dimension í™•ì¸
df1.ndim
df2.ndim

# ê²°ì¸¡ì¹˜ ìœ„ì¹˜ í™•ì¸ í›„ 0ìœ¼ë¡œ ëŒ€ì²´
df1.isnull()
df2.isnull()
df1 = df1.fillna(0)
df2 = df2.fillna(0)

# csvë¡œ ì¶œë ¥
df1.to_csv('df1.csv')
df2.to_csv('df2.csv')

# 2. Feature Engineering
- ì•„ë˜ ë°ì´í„°ë¥¼ ì°¸ì¡°í•˜ì—¬ 18/19ë…„ë„ì— ëŒ€í•´ì„œ Price to Dream Ratio(PDR)ë¥¼ ê³„ì‚°í•˜ì„¸ìš”.

 ## $\rm PDR = {ì‹œê°€ì´ì•¡ \over í•´ë‹¹~ê¸°ì—…ì´~í¬í•¨ëœ~ì „ì²´~ì‹œì¥~ê·œëª¨(TAM)~\times~ì‹œì¥ì ìœ ìœ¨}$
  - ë³€ìˆ˜ ì´ë¦„ `df3`ë¡œ ë°ì´í„°í”„ë ˆì„ì„ ìƒì„±í•©ë‹ˆë‹¤. ì•„ë˜ì™€ ê°™ì€ í˜•íƒœì´ì–´ì•¼ í•©ë‹ˆë‹¤. 
  - feature ì´ë¦„ì€ `PDR`ë¡œ, `df3['PDR']`ì„ í†µí•´ `~` ê°’ì´ í™•ì¸ë˜ì–´ì•¼ í•©ë‹ˆë‹¤. 
    - PDRì— 100ì„ ê³±í•œ ë°±ë¶„ìœ¨(%)ì„ êµ¬í•©ë‹ˆë‹¤. 

||êµ¬ë¶„|ì¢…ê°€|ë°œí–‰ì£¼ì‹ìˆ˜|ì‹œê°€ì´ì•¡|ì‹œì¥ì ìœ ìœ¨|ì‹œì¥ê·œëª¨|PDR|
|:-:|:-:|:-:|:-:|:-:|:-:|:-:|:-:|
|0|18ë…„|101500|137292497|13935188445500|62.0|15000000000000|~|
|1|19ë…„|93800|137292497|12878036218600|63.5|15000000000000|~|

In [3]:
# 18/19ë…„ë„ì— ëŒ€í•´ì„œ Price to Dream Ratio(PDR)ë¥¼ ê³„ì‚°
values = [['18ë…„',101500,137292497,13935188445500,62.0,15000000000000,None],['19ë…„',93800, 137292497,12878036218600,63.5,15000000000000, None]]
column = ['êµ¬ë¶„','ì¢…ê°€','ë°œí–‰ì£¼ì‹ìˆ˜','ì‹œê°€ì´ì•¡','ì‹œì¥ì ìœ ìœ¨','ì‹œì¥ê·œëª¨','PDR']
df3 = pd.DataFrame(values, columns=column)

df3['PDR'] = df3['ì‹œê°€ì´ì•¡'] / (df3['ì‹œì¥ê·œëª¨'] * df3['ì‹œì¥ì ìœ ìœ¨'] / 100) * 100
df3

    êµ¬ë¶„      ì¢…ê°€      ë°œí–‰ì£¼ì‹ìˆ˜            ì‹œê°€ì´ì•¡  ì‹œì¥ì ìœ ìœ¨            ì‹œì¥ê·œëª¨         PDR
0  18ë…„  101500  137292497  13935188445500   62.0  15000000000000  149.840736
1  19ë…„   93800  137292497  12878036218600   63.5  15000000000000  135.202480

# 3. ì¤‘ë³µëœ ë°ì´í„° ì‚´í´ë³´ê¸° 

- ì™€ì¸ ë°ì´í„°ì…‹ì„ ì‚¬ìš©í•©ë‹ˆë‹¤. 

- ê³µì‹ë¬¸ì„œë¥¼ ì°¸ì¡°í•˜ì—¬ ì¤‘ë³µëœ ë°ì´í„°ë¥¼ ëª¨ë‘ í™•ì¸í•´ ë´…ë‹ˆë‹¤. <br>
  https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.duplicated.html

In [4]:
from google.colab import files
file = files.upload()

Saving winequality-red.csv to winequality-red.csv
Saving winequality-white.csv to winequality-white.csv

In [5]:
wine_red = pd.read_csv('winequality-red.csv',sep = ';')
wine_white = pd.read_csv('winequality-white.csv', sep = ';')

print(wine_red.duplicated())
print(wine_white.duplicated())

0       False
1       False
2       False
3       False
4        True
        ...
1594    False
1595    False
1596     True
1597    False
1598    False
Length: 1599, dtype: bool
0       False
1       False
2       False
3       False
4        True
        ...
4893    False
4894    False
4895    False
4896    False
4897    False
Length: 4898, dtype: bool

# ğŸ”¥ ë„ì „ê³¼ì œ

## NA Value Handling

- ë°ì´í„°ì…‹ì„ ë¶ˆëŸ¬ì˜µë‹ˆë‹¤. 

- 19ë…„ë„ 4ë¶„ê¸°ì˜ ë‹¹ê¸°ìˆœì´ìµ(ë¹„ì§€ë°°) ë¶€ë¶„ì„ Naë¡œ ëŒ€ì²´í•˜ì„¸ìš”

- ì´í›„ í•´ë‹¹ ê²°ì¸¡ì¹˜ë¥¼ mean imputation ë°©ë²•ì„ ì‚¬ìš©í•˜ì—¬ ì²˜ë¦¬í•˜ì„¸ìš”.

In [6]:
url = 'https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/kt%26g/kt%26g_0.csv'
headers = ['ë¶„ê¸°', 'ë§¤ì¶œì•¡', 'ì˜ì—…ì´ìµ', 'ì˜ì—…ì´ìµ(ë°œí‘œê¸°ì¤€)', 'ì„¸ì „ê³„ì†ì‚¬ì—…ì´ìµ',
           'ë‹¹ê¸°ìˆœì´ìµ', 'ë‹¹ê¸°ìˆœì´ìµ(ì§€ë°°)', 'ë‹¹ê¸°ìˆœì´ìµ(ë¹„ì§€ë°°)', 'ìì‚°ì´ê³„', 'ë¶€ì±„ì´ê³„',
           'ìë³¸ì´ê³„', 'ìë³¸ì´ê³„(ì§€ë°°)', 'ìë³¸ì´ê³„(ë¹„ì§€ë°°)', 'ìë³¸ê¸ˆ', 'ì˜ì—…í™œë™í˜„ê¸ˆíë¦„',
           'íˆ¬ìí™œë™í˜„ê¸ˆíë¦„', 'ì¬ë¬´í™œë™í˜„ê¸ˆíë¦„', 'ì˜ì—…ì´ìµë¥ ', 'ìˆœì´ìµë¥ ', 'ROE(%)',
           'ROA(%)', 'ë¶€ì±„ë¹„ìœ¨', 'ìë³¸ìœ ë³´ìœ¨', 'EPS(ì›)', 'PER(ë°°)']

In [30]:
# ë°ì´í„°ì…‹ ë¶ˆëŸ¬ì˜¤ê¸°
df = pd.read_csv(url, header = None)
df.columns = headers

# 19ë…„ë„ 4ë¶„ê¸°ì˜ ë‹¹ê¸°ìˆœì´ìµ(ë¹„ì§€ë°°) ë¶€ë¶„ì„ Naë¡œ ëŒ€ì²´
df.at[2,'ë‹¹ê¸°ìˆœì´ìµ(ë¹„ì§€ë°°)'] = None

# í•´ë‹¹ ê²°ì¸¡ì¹˜ë¥¼ mean imputation ë°©ë²•ì„ ì‚¬ìš©í•˜ì—¬ ì²˜ë¦¬
df = df.fillna(df.mean())

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:9: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  if __name__ == '__main__':

,ë¶„ê¸°,ë§¤ì¶œì•¡,ì˜ì—…ì´ìµ,ì˜ì—…ì´ìµ(ë°œí‘œê¸°ì¤€),ì„¸ì „ê³„ì†ì‚¬ì—…ì´ìµ,ë‹¹ê¸°ìˆœì´ìµ,ë‹¹ê¸°ìˆœì´ìµ(ì§€ë°°),ë‹¹ê¸°ìˆœì´ìµ(ë¹„ì§€ë°°),ìì‚°ì´ê³„,ë¶€ì±„ì´ê³„,...,íˆ¬ìí™œë™í˜„ê¸ˆíë¦„,ì¬ë¬´í™œë™í˜„ê¸ˆíë¦„,ì˜ì—…ì´ìµë¥,ìˆœì´ìµë¥,ROE(%),ROA(%),ë¶€ì±„ë¹„ìœ¨,ìë³¸ìœ ë³´ìœ¨,EPS(ì›),PER(ë°°)
0,19/6,"12,578","3,991","3,991","4,452","3,245","3,228",17.00,"108,464","25,940",...,"-1,878","-4,919",31.73,25.80,12.35,9.37,31.43,803.22,"2,351",13.77
1,19/9,"13,222","3,825","3,825","4,503","3,221","3,208",13.00,"106,314","20,691",...,-83,-329,28.93,24.36,12.67,9.95,24.17,836.86,"2,337",13.87
2,19/12,"11,982","2,523","2,523","1,794","1,183","1,198",10.75,"107,121","20,062",...,-501,-129,21.06,9.87,12.39,9.96,23.04,850.82,873,12.42
3,20/3,"11,784","3,150","3,150","4,156","2,939","2,930",9.00,"108,594","24,862",...,"-1,392",-86,26.73,24.94,13.05,9.79,29.69,823.16,"2,134",9.71
4,20/6,"13,188","3,947","3,947","4,020","2,935","2,931",4.00,"110,282","23,386",...,-214,"-5,501",29.93,22.25,12.20,9.40,26.91,837.40,"2,135",10.46

## Feature Engineering

Relative Perfomance ë¼ëŠ” ìƒˆë¡œìš´ featureë¥¼ ê³„ì‚°í•˜ì„¸ìš”.

ì´ëŠ” ìµœê·¼ 1ë…„ì¹˜ ë§¤ì¶œì•¡ì˜ í‰ê· ê°’ì„ ê¸°ì¤€ìœ¼ë¡œ 

- 10% ì´ìƒ -> `S`
- 5% ì´ìƒ -> `A`
- -5 ~ 5% -> `B`
- -5%ì´í•˜ -> `C`
- 10%ì´í•˜ -> `D`

ë¼ëŠ” ê°’ì„ ê°–ëŠ” featureì…ë‹ˆë‹¤.

20ë…„ë„ 2ë¶„ê¸°ì— í•´ë‹¹í•˜ëŠ” ê²°ê³¼ê°’ì€ `A`ê°€ ë‚˜ì™€ì•¼í•©ë‹ˆë‹¤.

ê°ê°ì— í•´ë‹¹í•˜ëŠ” ë“±ê¸‰ì´ ë‚˜ì˜¤ê¸° ìœ„í•´ì„œ í•„ìš”í•œ ë§¤ì¶œì•¡ì„ ì¶”ê°€ë¡œ ì„œìˆ í•˜ì„¸ìš”.

In [65]:
# ìµœê·¼ 1ë…„ì¹˜ ë§¤ì¶œì•¡ì˜ í‰ê· ê°’
# df['ë§¤ì¶œì•¡'] = df['ë§¤ì¶œì•¡'].str.replace(',','')
df = df.astype({'ë§¤ì¶œì•¡':float})
sales_mean = df['ë§¤ì¶œì•¡'].tail(4).mean()

# cutì„ ìœ„í•œ bin, label ì„¤ì •
bin = [0, sales_mean*90/100, sales_mean*95/100, sales_mean*105/100, sales_mean*110/100, 100000000]
label = ['D','C','B','A','S']

# Relative Perfomance ë¼ëŠ” ìƒˆë¡œìš´ featureë¥¼ ê³„ì‚°
df['Relative Perfomance'] = pd.cut(df['ë§¤ì¶œì•¡'],bins = bin, labels = label)
print(df)

# ê°ê°ì— í•´ë‹¹í•˜ëŠ” ë“±ê¸‰ì´ ë‚˜ì˜¤ê¸° ìœ„í•´ì„œ í•„ìš”í•œ ë§¤ì¶œì•¡ì„ ì¶”ê°€ë¡œ ì„œìˆ 
for i in range(1, 5):
  print(label[i],':',bin[i])

      ë¶„ê¸°      ë§¤ì¶œì•¡   ì˜ì—…ì´ìµ ì˜ì—…ì´ìµ(ë°œí‘œê¸°ì¤€) ì„¸ì „ê³„ì†ì‚¬ì—…ì´ìµ  ë‹¹ê¸°ìˆœì´ìµ ë‹¹ê¸°ìˆœì´ìµ(ì§€ë°°)  ë‹¹ê¸°ìˆœì´ìµ(ë¹„ì§€ë°°)  \
0   19/6  12578.0  3,991      3,991    4,452  3,245     3,228       17.00
1   19/9  13222.0  3,825      3,825    4,503  3,221     3,208       13.00
2  19/12  11982.0  2,523      2,523    1,794  1,183     1,198       10.75
3   20/3  11784.0  3,150      3,150    4,156  2,939     2,930        9.00
4   20/6  13188.0  3,947      3,947    4,020  2,935     2,931        4.00

      ìì‚°ì´ê³„    ë¶€ì±„ì´ê³„  ... ì¬ë¬´í™œë™í˜„ê¸ˆíë¦„  ì˜ì—…ì´ìµë¥    ìˆœì´ìµë¥  ROE(%) ROA(%)   ë¶€ì±„ë¹„ìœ¨   ìë³¸ìœ ë³´ìœ¨  \
0  108,464  25,940  ...   -4,919  31.73  25.80  12.35   9.37  31.43  803.22
1  106,314  20,691  ...     -329  28.93  24.36  12.67   9.95  24.17  836.86
2  107,121  20,062  ...     -129  21.06   9.87  12.39   9.96  23.04  850.82
3  108,594  24,862  ...      -86  26.73  24.94  13.05   9.79  29.69  823.16
4  110,282  23,386  ...   -5,501  29.93  22.25  12.20   9.40  26.91  837.40

   EPS(ì›)  PER(ë°°)  Relative Perfomance
0   2,351   13.77                    B
1   2,337   13.87                    A
2     873   12.42                    B
3   2,134    9.71                    C
4   2,135   10.46                    A

[5 rows x 26 columns]
C : 11289.6
B : 11916.8
A : 13171.2
S : 13798.4