<a href="https://colab.research.google.com/github/KindOrca/Section_1_Project/blob/main/Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import random
import matplotlib.pyplot as plt
import seaborn as sns
from google.colab import files

file = files.upload()

Saving vgames2.csv to vgames2.csv

In [ ]:
'''
Name : 게임의 이름입니다.
Platform : 게임이 지원되는 플랫폼의 이름입니다.
Year : 게임이 출시된 연도입니다.
Genre : 게임의 장르입니다.
Publisher : 게임을 제작한 회사입니다.
NA_Sales : 북미지역에서의 출고량입니다.
EU_Sales : 유럽지역에서의 출고량입니다.
JP_Sales : 일본지역에서의 출고량입니다.
Other_Sales : 기타지역에서의 출고량입니다.

1. 지역에 따라서 선호하는 게임 장르
2. 연도별 게임의 트렌드
3. 출고량이 높은 게임에 대한 분석 및 시각화 프로세스

Sprint 1 : EDA, Feature Engineering, Data Manipulation, Data Visualization
Sprint 2 : Hypothesis Test, CI, Bayesian, AB Test
Sprint 3 : DR, PCA, Clustering, GD
'''

In [139]:
df = pd.read_csv('vgames2.csv', index_col = 'Unnamed: 0')
print(df.isnull().sum())
df.drop_duplicates()
df['Year'] = pd.to_numeric(df['Year'], errors = 'coerce')
df['NA_Sales'] = pd.to_numeric(df['NA_Sales'], errors = 'coerce')
df['EU_Sales'] = pd.to_numeric(df['EU_Sales'], errors = 'coerce')
df['JP_Sales'] = pd.to_numeric(df['JP_Sales'], errors = 'coerce')
df['Other_Sales'] = pd.to_numeric(df['Other_Sales'], errors = 'coerce')
df.dropna(inplace = True)

# column Year 변환
df['Year'] = df['Year'].astype(int)
def get_Year(x):
    if x < 50:
        year = x + 2000
    elif x < 100:
        year = x + 1900
    else:
        year = x
    return year

df['Year'] = df['Year'].apply(lambda x: get_Year(x))
df.reset_index(drop = True, inplace = True)
df

Name             0
Platform         0
Year           271
Genre           50
Publisher       58
NA_Sales         0
EU_Sales         0
JP_Sales         0
Other_Sales      0
dtype: int64

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales
0,Candace Kane's Candy Factory,DS,2008,Action,Destineer,0.04,0.00,0.00,0.00
1,The Munchables,Wii,2009,Action,Namco Bandai Games,0.17,0.00,0.00,0.01
2,Otome wa Oanesama Boku ni Koi Shiteru Portable,PSP,2010,Adventure,Alchemist,0.00,0.00,0.02,0.00
3,Deal or No Deal: Special Edition,DS,2010,Misc,Zoo Games,0.04,0.00,0.00,0.00
4,Ben 10 Ultimate Alien: Cosmic Destruction,PS3,2010,Platform,D3Publisher,0.12,0.09,0.00,0.04
...,...,...,...,...,...,...,...,...,...
15471,Ice Age 2: The Meltdown,GC,2006,Platform,Vivendi Games,0.15,0.04,0.00,0.01
15472,Rainbow Islands: Revolution,PSP,2005,Action,Rising Star Games,0.01,0.00,0.00,0.00
15473,NBA 2K16,PS3,2015,Sports,Take-Two Interactive,0.44,0.19,0.03,0.13
15474,Toukiden: The Age of Demons,PSV,2013,Action,Tecmo Koei,0.05,0.05,0.25,0.03
15475,The King of Fighters '95,PS,1996,Fighting,Sony Computer Entertainment,0.00,0.00,0.16,0.01

In [54]:
# 지역 별 선호하는 게임 장르
df_1 = df[['Genre', 'NA_Sales','EU_Sales','JP_Sales','Other_Sales']]
df_sum = df_1.groupby('Genre').sum()

In [55]:
# NA
NA_rank = df_sum['NA_Sales'].sort_values(ascending = False)
NA_rank

Genre
Action          804.68
Sports          636.44
Shooter         546.92
Platform        413.88
Misc            380.80
Racing          335.27
Role-Playing    295.54
Fighting        210.75
Simulation      174.03
Puzzle          118.97
Adventure        97.75
Strategy         65.68
Name: NA_Sales, dtype: float64

In [ ]:
# 북미지역에서는 Action, Sports, Shooter 순으로 인기가 있다.

In [56]:
# EU
EU_rank = df_sum['EU_Sales'].sort_values(ascending = False)
EU_rank

Genre
Action          487.72
Sports          351.05
Shooter         294.28
Racing          223.48
Misc            200.61
Platform        185.34
Role-Playing    166.88
Simulation      107.28
Fighting         94.36
Adventure        60.99
Puzzle           50.03
Strategy         43.23
Name: EU_Sales, dtype: float64

In [ ]:
# 유럽지역에서도 Action, Sports, Shooter 순으로 인기가 있다.

In [57]:
# JP
JP_rank = df_sum['JP_Sales'].sort_values(ascending = False)
JP_rank

Genre
Role-Playing    320.83
Action          150.70
Sports          126.83
Platform        123.19
Misc             99.94
Fighting         82.95
Simulation       61.59
Puzzle           56.21
Racing           51.50
Adventure        49.28
Strategy         43.98
Shooter          37.19
Name: JP_Sales, dtype: float64

In [ ]:
# 일본지역에서는 Role-Playing, Action, Sports 순으로 인기가 있다.

In [51]:
# Other
Ot_rank = df_sum['Other_Sales'].sort_values(ascending = False)
Ot_rank

Genre
Action          176.49
Sports          126.73
Shooter          97.07
Racing           73.76
Misc             70.07
Role-Playing     52.88
Platform         48.18
Fighting         34.38
Simulation       29.57
Adventure        16.12
Puzzle           12.18
Strategy         10.74
Name: Other_Sales, dtype: float64

In [ ]:
# 종합에서 정리 하자면 일본을 제외하고 대체로 Action, Sports, Shooter 장르 순으로 인기가 많다.
# 일본에서는 Role-Playing 게임이 인기가 많다.

In [58]:
df

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales
0,Candace Kane's Candy Factory,DS,2008,Action,Destineer,0.04,0.00,0.00,0.00
1,The Munchables,Wii,2009,Action,Namco Bandai Games,0.17,0.00,0.00,0.01
2,Otome wa Oanesama Boku ni Koi Shiteru Portable,PSP,2010,Adventure,Alchemist,0.00,0.00,0.02,0.00
3,Deal or No Deal: Special Edition,DS,2010,Misc,Zoo Games,0.04,0.00,0.00,0.00
4,Ben 10 Ultimate Alien: Cosmic Destruction,PS3,2010,Platform,D3Publisher,0.12,0.09,0.00,0.04
...,...,...,...,...,...,...,...,...,...
15471,Ice Age 2: The Meltdown,GC,2006,Platform,Vivendi Games,0.15,0.04,0.00,0.01
15472,Rainbow Islands: Revolution,PSP,2005,Action,Rising Star Games,0.01,0.00,0.00,0.00
15473,NBA 2K16,PS3,2015,Sports,Take-Two Interactive,0.44,0.19,0.03,0.13
15474,Toukiden: The Age of Demons,PSV,2013,Action,Tecmo Koei,0.05,0.05,0.25,0.03
15475,The King of Fighters '95,PS,1996,Fighting,Sony Computer Entertainment,0.00,0.00,0.16,0.01

In [187]:
# 연도별 게임의 트렌드
df_2 = df[['Year','Genre', 'NA_Sales','EU_Sales','JP_Sales','Other_Sales']]
df_2['total_Sales'] = df_2['NA_Sales'] + df_2['EU_Sales'] + df_2['JP_Sales'] + df_2['Other_Sales']
df_2 = df_2[['Year','Genre','total_Sales']]
def make_Year(x):
    if x < 1985:
        year = 1980
    elif x < 1990:
        year = 1985
    elif x < 1995:
        year = 1990
    elif x < 2000:
        year = 1995
    elif x < 2005:
        year = 2000
    elif x < 2010:
        year = 2005
    elif x < 2015:
        year = 2010
    else:
        year = 2015
    return year
df_2['Year'] = df_2['Year'].apply(lambda x: make_Year(x))

# 트렌드 분석 (장르별 판매량)
df_year_sum = df_2.sort_values('total_Sales', ascending = False)
df_year_sum = df_2.groupby(['Year','Genre'], as_index = False).sum()
df_year_sum = df_year_sum.sort_values(by = ['Year','total_Sales'], ascending = False)

df_year_sum.query('Year == 1980')

# 2015 Action 2010 Action 2005 Sports 2000 Action 1995 Role-playing 1990 Platfom 1985 Platform 1980 Shooter
#      Shooter     Shooter     Action      Sports      Sports            Fighting     Puzzle        Action

# 현재 Action 게임이 트렌드 이다.

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

   Year       Genre  total_Sales
7  1980     Shooter        52.49
0  1980      Action        24.37
4  1980    Platform        19.57
5  1980      Puzzle        16.21
9  1980      Sports        11.21
3  1980        Misc         6.93
6  1980      Racing         6.48
2  1980    Fighting         0.77
8  1980  Simulation         0.44
1  1980   Adventure         0.40

In [ ]:
# 귀무가설 : 연도별 게임의 트렌드가 존재하지 않는다. -> (트렌드 없이 항상 Action 게임이 주류를 이룬다.)
# 대립가설 : 연도별 게임의 트렌드가 존재한다.        -> (항상 Action 게임이 주류를 이루지 않는다.)

# 각 연도의 판매량이 가장 높은 장르를 그 연도 주요 트렌드 게임이라고 생각한다.