<img src='https://user-images.githubusercontent.com/6457691/89746244-a6e2a200-daf3-11ea-9314-7863d544d73c.png' width = '200' align = 'right'>

## *DATA SCIENCE / SECTION 1 / SPRINT 1 / NOTE 3*

# 📝 Assignment

---

# 1. Enumerate

- 1 이상 50 이하의 정수 10개를 랜덤으로 생성하여 arr에 저장합니다.
  - `np.random.seed(1)`로 설정합니다. 

- `enumerate`를 사용하여 짝수 번째 수들의 합은 res1에, 홀수 번째 수들의 합은 res2에 저장합니다.

In [ ]:
# 이 곳에 답안을 작성하세요.

# 2. Apply

- 주어진 url의 데이터셋을 불러옵니다. 

- 결측치는 0으로 대체합니다. 

- 데이터셋의 분기를 제외한 모든 feature에 대해서 수치형 데이터(`int`, `float`)로 변환하고, `.describe()`을 통해 summary statistics를 확인하세요.

In [ ]:
url = 'https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/kt%26g/kt%26g_0.csv'
headers = ['분기', '매출액', '영업이익', '영업이익(발표기준)', '세전계속사업이익',
           '당기순이익', '당기순이익(지배)', '당기순이익(비지배)', '자산총계', '부채총계',
           '자본총계', '자본총계(지배)', '자본총계(비지배)', '자본금', '영업활동현금흐름',
           '투자활동현금흐름', '재무활동현금흐름', '영업이익률', '순이익률', 'ROE(%)',
           'ROA(%)', '부채비율', '자본유보율', 'EPS(원)', 'PER(배)']

In [ ]:
# 이 곳에 답안을 작성하세요.

# 3. Regular Expression (정규표현식) 

Note3에서 여러 데이터 이슈들을 살펴보았는데, Note4에서는 이러한 이슈들을 해결하기 위한 방법 중 정규표현식을 사용합니다. 
- 정규표현식에 대하여 찾아보고, 다음 method를 사용하여 문제를 풀어 보세요. 
  - `search`
  - `findall`
  - `sub`

- 정규 표현식 연습하기 -> 레퍼런스 </br>
  https://regexone.com/

In [ ]:
text = "The Lord of the Rings 3 : The Return Of The King, by J.R.R. Tolkien - 123"

In [ ]:
# 다음 결과를 반환하도록 코드를 구현하세요.

In [ ]:
# 다음 결과를 반환하도록 코드를 구현하세요.

['The', 'The', 'The']

In [ ]:
# 다음 결과를 반환하도록 코드를 구현하세요.

In [ ]:
# 다음 결과를 반환하도록 코드를 구현하세요.

['he',
 'ord',
 'of',
 'the',
 'ings',
 'he',
 'eturn',
 'f',
 'he',
 'ing',
 'by',
 'olkien']

In [ ]:
# 다음 결과를 반환하도록 코드를 구현하세요.

['3', '1', '2', '3']

In [ ]:
# 다음 결과를 반환하도록 코드를 구현하세요.

['3', '123']

In [ ]:
# 다음 결과를 반환하도록 코드를 구현하세요.

'_he _ord of the _ings 3 : _he _eturn _f _he _ing, by _._._. _olkien - 123'

In [ ]:
# 다음 결과를 반환하도록 코드를 구현하세요.

'The Lord of the Rings 3  The Return Of The King, by J.R.R. Tolkien  123'

# 4. Data Issue 탐색
- 데이터셋(customer, rental, payment)을 불러온 후, 시각적 탐색 혹은 프로그래매틱 탐색 방법으로 데이터 이슈들을 탐색해 보세요. 
  - 데이터 품질의 문제를 설명해 보세요.
    - 결측치, 중복, 부정확한 데이터 등이 있는지 확인합니다. 
    - 각 column의 데이터 타입을 확인합니다. 
  - 데이터 구조의 문제를 설명해 보세요. 
    - 각 변수는 하나의 column을 구성해야 합니다. 
    - 각 관측치는 하나의 row를 구성해야 합니다.

In [ ]:
# 이 곳에 답안을 작성하세요.