<img src='https://user-images.githubusercontent.com/6457691/89746244-a6e2a200-daf3-11ea-9314-7863d544d73c.png' width = '200' align = 'right'>

## *DATA SCIENCE / SECTION 1 / SPRINT 1 / NOTE 4*

# 📝 Assignment

---

**n113a의 데이터셋을 계속 사용합니다.**

# 1. customer 테이블의 데이터 이슈 해결하기 
- customer 데이터셋을 불러옵니다. 
- 마지막 row를 제거합니다. 
- `customer_id`, `store_id`, `address_id`, `active` 컬럼의 데이터 타입을 int로 변환합니다. 
- `name`에서 처음 이름은 `first_name` 컬럼에, 다음 이름은 `last_name` 컬럼에 저장합니다. 이후 `name` 컬럼은 제거합니다.
- `customer_id` 컬럼에 대하여 오름차순으로 정렬합니다. 이후 `.reset_index()`를 사용하여 인덱스를 재설정 해 주세요.

In [ ]:
# 이 곳에 답안을 작성하세요.

# 2. rental 테이블의 데이터 이슈 해결하기 
- rental 데이터셋을 불러옵니다. 
- 마지막 row를 제거합니다. 
- `rental_id`, `inventory_id`, `customer_id`, `staff_id` 컬럼의 데이터 타입을 int로 변환합니다. 
- `customer_id`와 `rental_id` 컬럼에 대하여 오름차순으로 정렬합니다. 이후 `.reset_index()`를 사용하여 인덱스를 재설정 해 주세요.

In [ ]:
# 이 곳에 답안을 작성하세요.

# 3. payment 테이블의 데이터 이슈 해결하기 
- payment 데이터셋을 불러옵니다. 
- 마지막 row를 제거합니다. 
- `payment_id`, `customer_id`, `staff_id`, `rental_id` 컬럼의 데이터 타입을 int로 변환합니다. 
- `amount` 컬럼의 '$'를 제거한 후 데이터 타입을 float으로 변환합니다. 
- `customer_id`와 `rental_id` 컬럼에 대하여 오름차순으로 정렬합니다.

In [ ]:
# 이 곳에 답안을 작성하세요.

# 4. customer, rental, payment 테이블 합치기 
3개의 테이블을 모두 사용하여 분석을 진행하는 것은 비효율적으로 보입니다.
- rental 테이블과 payment 테이블의 `staff_id` 컬럼을 각각 제거합니다.  
- customer 테이블과 rental 테이블의 `last_update` 컬럼을 각각 제거합니다. 
- rental 테이블과 payment 테이블을 `customer_id`와 `rental_id`에 대하여 `.merge()`를 사용하여 합치세요. 변수 이름은 `df1`으로 합니다. 
- `df1`과 customer 테이블을 `customer_id`에 대하여 `.merge()`를 사용하여 합치세요. 변수 이름은 `df2`로 합니다.

In [ ]:
# 이 곳에 답안을 작성하세요.