<img src='https://user-images.githubusercontent.com/6457691/89746244-a6e2a200-daf3-11ea-9314-7863d544d73c.png' width = '200' align = 'right'>

## *DATA SCIENCE / SECTION 1 / SPRINT 1 / NOTE 4*

# üìù Assignment

---

**n113aÏùò Îç∞Ïù¥ÌÑ∞ÏÖãÏùÑ Í≥ÑÏÜç ÏÇ¨Ïö©Ìï©ÎãàÎã§.**

# 1. customer ÌÖåÏù¥Î∏îÏùò Îç∞Ïù¥ÌÑ∞ Ïù¥Ïäà Ìï¥Í≤∞ÌïòÍ∏∞ 
- customer Îç∞Ïù¥ÌÑ∞ÏÖãÏùÑ Î∂àÎü¨ÏòµÎãàÎã§. 
- ÎßàÏßÄÎßâ rowÎ•º Ï†úÍ±∞Ìï©ÎãàÎã§. 
- `customer_id`, `store_id`, `address_id`, `active` Ïª¨ÎüºÏùò Îç∞Ïù¥ÌÑ∞ ÌÉÄÏûÖÏùÑ intÎ°ú Î≥ÄÌôòÌï©ÎãàÎã§. 
- `name`ÏóêÏÑú Ï≤òÏùå Ïù¥Î¶ÑÏùÄ `first_name` Ïª¨ÎüºÏóê, Îã§Ïùå Ïù¥Î¶ÑÏùÄ `last_name` Ïª¨ÎüºÏóê Ï†ÄÏû•Ìï©ÎãàÎã§. Ïù¥ÌõÑ `name` Ïª¨ÎüºÏùÄ Ï†úÍ±∞Ìï©ÎãàÎã§.
- `customer_id` Ïª¨ÎüºÏóê ÎåÄÌïòÏó¨ Ïò§Î¶ÑÏ∞®ÏàúÏúºÎ°ú Ï†ïÎ†¨Ìï©ÎãàÎã§. Ïù¥ÌõÑ `.reset_index()`Î•º ÏÇ¨Ïö©ÌïòÏó¨ Ïù∏Îç±Ïä§Î•º Ïû¨ÏÑ§Ï†ï Ìï¥ Ï£ºÏÑ∏Ïöî.

In [3]:
import pandas as pd
import numpy as np
from google.colab import files

file = files.upload()

Saving customer.csv to customer.csv
Saving payment.csv to payment.csv
Saving rental.csv to rental.csv

In [20]:
# customer
df_customer = pd.read_csv('customer.csv', index_col = 'Unnamed: 0')

# ÎßàÏßÄÎßâ row Ï†úÍ±∞
df_customer.drop(df_customer.index.max(), axis = 0,inplace = True)

# customer_id, store_id, address_id, active Ïª¨ÎüºÏùò Îç∞Ïù¥ÌÑ∞ ÌÉÄÏûÖÏùÑ int
df_customer[['customer_id','store_id','active']] = df_customer[['customer_id','store_id','active']].astype(int)

# nameÏóêÏÑú Ï≤òÏùå Ïù¥Î¶ÑÏùÄ first_name Ïª¨ÎüºÏóê, Îã§Ïùå Ïù¥Î¶ÑÏùÄ last_name Ïª¨ÎüºÏóê Ï†ÄÏû• ÌõÑ, name Ïª¨ÎüºÏùÄ Ï†úÍ±∞
df_customer[['first_name','last_name']] = df_customer['name'].str.split(', ', expand = True)

# customer_id Ïª¨ÎüºÏóê ÎåÄÌïòÏó¨ Ïò§Î¶ÑÏ∞®ÏàúÏúºÎ°ú Ï†ïÎ†¨, Ïù¥ÌõÑ .reset_index()Î•º ÏÇ¨Ïö©ÌïòÏó¨ Ïù∏Îç±Ïä§Î•º Ïû¨ÏÑ§Ï†ï
df_customer.sort_values('customer_id', inplace = True)
df_customer.reset_index(drop = True, inplace = True)
df_customer

,customer_id,store_id,email,address_id,activebool,create_date,last_update,active,name,first_name,last_name
0,1,1,mary.smith@sakilacustomer.org,5.0,t,2006-02-14,2013-05-26 14:49:45.738,1,"Mary, Smith",Mary,Smith
1,2,1,patricia.johnson@sakilacustomer.org,6.0,t,2006-02-14,2013-05-26 14:49:45.738,1,"Patricia, Johnson",Patricia,Johnson
2,3,1,linda.williams@sakilacustomer.org,7.0,t,2006-02-14,2013-05-26 14:49:45.738,1,"Linda, Williams",Linda,Williams
3,4,2,barbara.jones@sakilacustomer.org,8.0,t,2006-02-14,2013-05-26 14:49:45.738,1,"Barbara, Jones",Barbara,Jones
4,5,1,elizabeth.brown@sakilacustomer.org,9.0,t,2006-02-14,2013-05-26 14:49:45.738,1,"Elizabeth, Brown",Elizabeth,Brown
...,...,...,...,...,...,...,...,...,...,...,...
594,595,1,terrence.gunderson@sakilacustomer.org,601.0,t,2006-02-14,2013-05-26 14:49:45.738,1,"Terrence, Gunderson",Terrence,Gunderson
595,596,1,enrique.forsythe@sakilacustomer.org,602.0,t,2006-02-14,2013-05-26 14:49:45.738,1,"Enrique, Forsythe",Enrique,Forsythe
596,597,1,freddie.duggan@sakilacustomer.org,603.0,t,2006-02-14,2013-05-26 14:49:45.738,1,"Freddie, Duggan",Freddie,Duggan
597,598,1,wade.delvalle@sakilacustomer.org,604.0,t,2006-02-14,2013-05-26 14:49:45.738,1,"Wade, Delvalle",Wade,Delvalle
598,599,2,austin.cintron@sakilacustomer.org,605.0,t,2006-02-14,2013-05-26 14:49:45.738,1,"Austin, Cintron",Austin,Cintron

# 2. rental ÌÖåÏù¥Î∏îÏùò Îç∞Ïù¥ÌÑ∞ Ïù¥Ïäà Ìï¥Í≤∞ÌïòÍ∏∞ 
- rental Îç∞Ïù¥ÌÑ∞ÏÖãÏùÑ Î∂àÎü¨ÏòµÎãàÎã§. 
- ÎßàÏßÄÎßâ rowÎ•º Ï†úÍ±∞Ìï©ÎãàÎã§. 
- `rental_id`, `inventory_id`, `customer_id`, `staff_id` Ïª¨ÎüºÏùò Îç∞Ïù¥ÌÑ∞ ÌÉÄÏûÖÏùÑ intÎ°ú Î≥ÄÌôòÌï©ÎãàÎã§. 
- `customer_id`ÏôÄ `rental_id` Ïª¨ÎüºÏóê ÎåÄÌïòÏó¨ Ïò§Î¶ÑÏ∞®ÏàúÏúºÎ°ú Ï†ïÎ†¨Ìï©ÎãàÎã§. Ïù¥ÌõÑ `.reset_index()`Î•º ÏÇ¨Ïö©ÌïòÏó¨ Ïù∏Îç±Ïä§Î•º Ïû¨ÏÑ§Ï†ï Ìï¥ Ï£ºÏÑ∏Ïöî.

In [21]:
# rental
df_rental = pd.read_csv('rental.csv', index_col = 'Unnamed: 0')

df_rental = df_rental.drop(df_rental.index.max(), axis = 0)

df_rental[['rental_id','inventory_id','customer_id','staff_id']] = df_rental[['rental_id','inventory_id','customer_id','staff_id']].astype(int)

df_rental = df_rental.sort_values(['customer_id','rental_id']).reset_index(drop = True)
df_rental

,rental_id,rental_date,inventory_id,customer_id,return_date,staff_id,last_update
0,76,2005-05-25 11:30:37,3021,1,2005-06-03 12:00:37,2,2006-02-16 02:30:53
1,573,2005-05-28 10:35:23,4020,1,2005-06-03 06:32:23,1,2006-02-16 02:30:53
2,1185,2005-06-15 00:54:12,2785,1,2005-06-23 02:42:12,2,2006-02-16 02:30:53
3,1422,2005-06-15 18:02:53,1021,1,2005-06-19 15:54:53,2,2006-02-16 02:30:53
4,1476,2005-06-15 21:08:46,1407,1,2005-06-25 02:26:46,1,2006-02-16 02:30:53
...,...,...,...,...,...,...,...
16039,14599,2005-08-21 17:43:42,4575,599,2005-08-22 18:53:42,1,2006-02-16 02:30:53
16040,14719,2005-08-21 21:41:57,4091,599,2005-08-25 20:37:57,1,2006-02-16 02:30:53
16041,15590,2005-08-23 06:09:44,4048,599,2005-09-01 06:53:44,2,2006-02-16 02:30:53
16042,15719,2005-08-23 11:08:46,3990,599,2005-08-25 07:25:46,1,2006-02-16 02:30:53
16043,15725,2005-08-23 11:25:00,378,599,2005-08-26 11:46:00,1,2006-02-16 02:30:53

# 3. payment ÌÖåÏù¥Î∏îÏùò Îç∞Ïù¥ÌÑ∞ Ïù¥Ïäà Ìï¥Í≤∞ÌïòÍ∏∞ 
- payment Îç∞Ïù¥ÌÑ∞ÏÖãÏùÑ Î∂àÎü¨ÏòµÎãàÎã§. 
- ÎßàÏßÄÎßâ rowÎ•º Ï†úÍ±∞Ìï©ÎãàÎã§. 
- `payment_id`, `customer_id`, `staff_id`, `rental_id` Ïª¨ÎüºÏùò Îç∞Ïù¥ÌÑ∞ ÌÉÄÏûÖÏùÑ intÎ°ú Î≥ÄÌôòÌï©ÎãàÎã§. 
- `amount` Ïª¨ÎüºÏùò '$'Î•º Ï†úÍ±∞Ìïú ÌõÑ Îç∞Ïù¥ÌÑ∞ ÌÉÄÏûÖÏùÑ floatÏúºÎ°ú Î≥ÄÌôòÌï©ÎãàÎã§. 
- `customer_id`ÏôÄ `rental_id` Ïª¨ÎüºÏóê ÎåÄÌïòÏó¨ Ïò§Î¶ÑÏ∞®ÏàúÏúºÎ°ú Ï†ïÎ†¨Ìï©ÎãàÎã§.

In [22]:
# payment
df_payment = pd.read_csv('payment.csv', index_col = 'Unnamed: 0')

df_payment.drop(df_payment.index.max(), axis = 0, inplace = True)

df_payment[['payment_id','customer_id','staff_id','rental_id']] = df_payment[['payment_id','customer_id','staff_id','rental_id']].astype(int)

df_payment['amount'] = df_payment.amount.str.replace('$','').astype(float)

df_payment.sort_values(['customer_id', 'rental_id']).reset_index(drop = True)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.

,payment_id,customer_id,staff_id,rental_id,amount,payment_date
0,18495,1,1,1185,5.99,2007-02-14 23:22:38.996577
1,18496,1,2,1422,0.99,2007-02-15 16:31:19.996577
2,18497,1,2,1476,9.99,2007-02-15 19:37:12.996577
3,18498,1,1,1725,4.99,2007-02-16 13:47:23.996577
4,18499,1,1,2308,4.99,2007-02-18 07:10:14.996577
...,...,...,...,...,...,...
14591,22618,599,1,14599,4.99,2007-03-21 16:12:08.996577
14592,22619,599,1,14719,1.99,2007-03-21 20:10:23.996577
14593,22620,599,2,15590,8.99,2007-03-23 04:38:10.996577
14594,22621,599,2,15719,2.99,2007-03-23 09:37:12.996577
14595,22622,599,2,15725,2.99,2007-03-23 09:53:26.996577

# 4. customer, rental, payment ÌÖåÏù¥Î∏î Ìï©ÏπòÍ∏∞ 
3Í∞úÏùò ÌÖåÏù¥Î∏îÏùÑ Î™®Îëê ÏÇ¨Ïö©ÌïòÏó¨ Î∂ÑÏÑùÏùÑ ÏßÑÌñâÌïòÎäî Í≤ÉÏùÄ ÎπÑÌö®Ïú®Ï†ÅÏúºÎ°ú Î≥¥ÏûÖÎãàÎã§.
- rental ÌÖåÏù¥Î∏îÍ≥º payment ÌÖåÏù¥Î∏îÏùò `staff_id` Ïª¨ÎüºÏùÑ Í∞ÅÍ∞Å Ï†úÍ±∞Ìï©ÎãàÎã§.  
- customer ÌÖåÏù¥Î∏îÍ≥º rental ÌÖåÏù¥Î∏îÏùò `last_update` Ïª¨ÎüºÏùÑ Í∞ÅÍ∞Å Ï†úÍ±∞Ìï©ÎãàÎã§. 
- rental ÌÖåÏù¥Î∏îÍ≥º payment ÌÖåÏù¥Î∏îÏùÑ `customer_id`ÏôÄ `rental_id`Ïóê ÎåÄÌïòÏó¨ `.merge()`Î•º ÏÇ¨Ïö©ÌïòÏó¨ Ìï©ÏπòÏÑ∏Ïöî. Î≥ÄÏàò Ïù¥Î¶ÑÏùÄ `df1`ÏúºÎ°ú Ìï©ÎãàÎã§. 
- `df1`Í≥º customer ÌÖåÏù¥Î∏îÏùÑ `customer_id`Ïóê ÎåÄÌïòÏó¨ `.merge()`Î•º ÏÇ¨Ïö©ÌïòÏó¨ Ìï©ÏπòÏÑ∏Ïöî. Î≥ÄÏàò Ïù¥Î¶ÑÏùÄ `df2`Î°ú Ìï©ÎãàÎã§.

In [23]:
# rental ÌÖåÏù¥Î∏îÍ≥º payment ÌÖåÏù¥Î∏îÏùò staff_id Ïª¨ÎüºÏùÑ Í∞ÅÍ∞Å Ï†úÍ±∞
df_rental = df_rental.drop(columns = 'staff_id', axis = 1)
df_payment = df_payment.drop(columns = 'staff_id', axis = 1)

# customer ÌÖåÏù¥Î∏îÍ≥º rental ÌÖåÏù¥Î∏îÏùò last_update Ïª¨ÎüºÏùÑ Í∞ÅÍ∞Å Ï†úÍ±∞
df_customer = df_customer.drop(columns = 'last_update', axis = 1)
df_rental = df_rental.drop(columns = 'last_update', axis = 1)

# rental ÌÖåÏù¥Î∏îÍ≥º payment ÌÖåÏù¥Î∏îÏùÑ customer_idÏôÄ rental_idÏóê ÎåÄÌïòÏó¨ .merge()Î•º ÏÇ¨Ïö©ÌïòÏó¨ Ìï©ÏπòÍ∏∞, Î≥ÄÏàò Ïù¥Î¶ÑÏùÄ df1
df1 = pd.merge(df_rental, df_payment, on = ['customer_id', 'rental_id'])
df2 = pd.merge(df1, df_customer, on = 'customer_id')
df2

,rental_id,rental_date,inventory_id,customer_id,return_date,payment_id,amount,payment_date,store_id,email,address_id,activebool,create_date,active,name,first_name,last_name
0,1185,2005-06-15 00:54:12,2785,1,2005-06-23 02:42:12,18495,5.99,2007-02-14 23:22:38.996577,1,mary.smith@sakilacustomer.org,5.0,t,2006-02-14,1,"Mary, Smith",Mary,Smith
1,1422,2005-06-15 18:02:53,1021,1,2005-06-19 15:54:53,18496,0.99,2007-02-15 16:31:19.996577,1,mary.smith@sakilacustomer.org,5.0,t,2006-02-14,1,"Mary, Smith",Mary,Smith
2,1476,2005-06-15 21:08:46,1407,1,2005-06-25 02:26:46,18497,9.99,2007-02-15 19:37:12.996577,1,mary.smith@sakilacustomer.org,5.0,t,2006-02-14,1,"Mary, Smith",Mary,Smith
3,1725,2005-06-16 15:18:57,726,1,2005-06-17 21:05:57,18498,4.99,2007-02-16 13:47:23.996577,1,mary.smith@sakilacustomer.org,5.0,t,2006-02-14,1,"Mary, Smith",Mary,Smith
4,2308,2005-06-18 08:41:48,197,1,2005-06-22 03:36:48,18499,4.99,2007-02-18 07:10:14.996577,1,mary.smith@sakilacustomer.org,5.0,t,2006-02-14,1,"Mary, Smith",Mary,Smith
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14587,14599,2005-08-21 17:43:42,4575,599,2005-08-22 18:53:42,22618,4.99,2007-03-21 16:12:08.996577,2,austin.cintron@sakilacustomer.org,605.0,t,2006-02-14,1,"Austin, Cintron",Austin,Cintron
14588,14719,2005-08-21 21:41:57,4091,599,2005-08-25 20:37:57,22619,1.99,2007-03-21 20:10:23.996577,2,austin.cintron@sakilacustomer.org,605.0,t,2006-02-14,1,"Austin, Cintron",Austin,Cintron
14589,15590,2005-08-23 06:09:44,4048,599,2005-09-01 06:53:44,22620,8.99,2007-03-23 04:38:10.996577,2,austin.cintron@sakilacustomer.org,605.0,t,2006-02-14,1,"Austin, Cintron",Austin,Cintron
14590,15719,2005-08-23 11:08:46,3990,599,2005-08-25 07:25:46,22621,2.99,2007-03-23 09:37:12.996577,2,austin.cintron@sakilacustomer.org,605.0,t,2006-02-14,1,"Austin, Cintron",Austin,Cintron
14591,15725,2005-08-23 11:25:00,378,599,2005-08-26 11:46:00,22622,2.99,2007-03-23 09:53:26.996577,2,austin.cintron@sakilacustomer.org,605.0,t,2006-02-14,1,"Austin, Cintron",Austin,Cintron

# üî• ÎèÑÏ†Ñ Í≥ºÏ†ú

**n113aÏùò ÎèÑÏ†ÑÍ≥ºÏ†úÏóêÏÑú Ïù¥Ïñ¥ÏßëÎãàÎã§.**

## Tidy Data

- n113aÏùò ÎèÑÏ†ÑÍ≥ºÏ†úÏóêÏÑú ÎßåÎì† Îç∞Ïù¥ÌÑ∞Î•º Îã§Ïùå ÏòàÏãúÏôÄ Í∞ôÏùÄ **tidy** ÌòïÌÉúÎ°ú ÎßåÎìúÏÑ∏Ïöî.

|Ï¢ÖÎ™©Î™Ö|Feature|Value|
|:-:|:-:|:-:|
|ÌïòÏù¥Ìä∏ÏßÑÎ°ú|Îß§Ï∂úÏï°|6243|
|Î≥¥Ìï¥ÏñëÏ°∞|Îß§Ï∂úÏï°|205|
|Î°ØÎç∞Ïπ†ÏÑ±|Îß§Ï∂úÏï°|5980|
|...|...|...|
|ÎßàÎãàÏª§|EPS(Ïõê)|-61|
|Ïù¥ÏßÄÌôÄÎî©Ïä§|EPS(Ïõê)|1168|
|ÌïòÎ¶º|EPS(Ïõê)|62|

- Îã§Ïùå ÏΩîÎìúÎ•º Ïã§ÌñâÌñàÏùÑ Îïå ÎÇòÏò§Îäî box ÏàòÎ•º Íµ¨ÌïòÏÑ∏Ïöî. 
```python
sns.boxplot(data = df_tidy, x = 'Ï¢ÖÎ™©Î™Ö', y = 'value');
```

In [ ]:
# Ïù¥ Í≥≥Ïóê ÎãµÏïàÏùÑ ÏûëÏÑ±ÌïòÏãúÍ∏∞ Î∞îÎûçÎãàÎã§.

## Join

- Ïó¨Îü¨ Îç∞Ïù¥ÌÑ∞ÏÖãÏùÑ Ìï©Ïπ† ÎïåÏóêÎäî `.concat()`Ïù¥ÎÇò `.merge()` Ïô∏Ïóê `.join()`Ïù¥ÎùºÎäî Ìï®ÏàòÎ•º ÏÇ¨Ïö©Ìï† ÏàòÎèÑ ÏûàÏäµÎãàÎã§. Í≥µÏãùÎ¨∏ÏÑúÎ•º ÌÜµÌï¥ `.join()`Ïóê ÎåÄÌï¥ ÏïåÏïÑÎ≥¥ÏÑ∏Ïöî.

  https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.join.html

-  Ï£ºÏñ¥ÏßÑ Îëê Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑÏùÑ `.join()`ÏùÑ ÏÇ¨Ïö©ÌïòÏó¨ Îã§ÏùåÍ≥º Í∞ôÏùÄ Í≤∞Í≥ºÎ¨ºÏùÑ ÎßåÎì≠ÎãàÎã§.


|key1|key2x|A|B|key2y|C|D|
|:-:|:-:|:-:|:-:|:-:|:-:|:-:|
|K1|K0|A2|B2|K0|C0|D0|
|K1|K0|A2|B2|K0|C1|D1|
|K2|K1|A3|B3|K0|C2|D2|
|K3|NaN|NaN|NaN|K0|C3|D3|

In [ ]:
import pandas as pd

left = pd.DataFrame({'key1': ['K0', 'K0', 'K1', 'K2'],
                     'key2': ['K0', 'K1', 'K0', 'K1'],
                     'A': ['A0', 'A1', 'A2', 'A3'],
                     'B': ['B0', 'B1', 'B2', 'B3']})

right = pd.DataFrame({'key1': ['K1', 'K1', 'K2', 'K3'],
                      'key2': ['K0', 'K0', 'K0', 'K0'],
                      'C': ['C0', 'C1', 'C2', 'C3'],
                      'D': ['D0', 'D1', 'D2', 'D3']})

In [ ]:
# Ïù¥ Í≥≥Ïóê ÎãµÏïàÏùÑ ÏûëÏÑ±ÌïòÏãúÍ∏∞ Î∞îÎûçÎãàÎã§.