<img align="right" src="https://ds-cs-images.s3.ap-northeast-2.amazonaws.com/Codestates_Fulllogo_Color.png" width=100>

## *AIB / SECTION 2 / SPRINT 3 / NOTE 2*

# 📝 Assignment
---
# Data Wrangling

### 1) 지속적으로 여러분의 포트폴리오 데이터를 랭글링 하세요
- 여러분이 선택한 데이터들을 랭글링하여 모델을 만들기 위한 테이블 형태의 데이터로 만들어 보세요.
- **(Urclass Quiz) 다음 함수의 result를 완성시키고 리턴값을 제출하세요.**

In [38]:
### 이곳에서 Urlcass 퀴즈(assignment)를 진행해 주세요 ###
import pandas as pd
df = pd.read_csv("https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/assignments/purchase_data.csv", sep=",",index_col=0)

## 다음 result 함수 안에 male, female 변수를 계산하세요.(groupby, get_group을 사용하세요.)
## sum_male: Age = 20, Gender = "Male" 그룹의 Price를 합하세요.
## sum_female: Age = 20, Gender = "Female" 그룹의 Price를 합하세요.

def result(df):

    sum_male = df.groupby(['Age','Gender']).get_group((20,'Male'))['Price'].mean()
    sum_female = df.groupby(['Age','Gender']).get_group((20,'Female'))['Price'].mean()

    print("sum_male: {}, sum_female: {}".format(sum_male, sum_female))
    return round(sum_male + sum_female)

result(df)

sum_male: 3.173170731707317, sum_female: 3.1235714285714287

6

### 2) 새로 특징들을 만들어 보세요
- **(Urclass Quiz) purchase_data를 랭글링하여 다음 조건을 계산하고 결과가 올바른 항목을 고르세요.**
    1. 나이 1-20세 그룹(20세 포함)의 평균 Price는 3.101818이다.
    2. 나이 21-50세 그룹의 평균 Price는 3.021559이다.
    3. 가장 많이 구입한 아이템의 ID는 178 이다.
    4. 두번째로 매출을 많이 낸 아이템 ID는 145이다.

In [40]:
df.head()

,SN,Age,Gender,Item ID,Item Name,Price
Purchase ID,,,,,,
0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,Ithergue48,24,Male,92,Final Critic,4.88
3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,Iskosia90,23,Male,131,Fury,1.44

In [58]:
### 이곳에서 Urlcass 퀴즈(assignment)과제를 진행해 주세요 ###
# 그룹별 Price 평균
young = df[df['Age'] <= 20]['Price'].mean()
old = df[(df['Age'] > 20) & (df['Age'] <= 50)]['Price'].mean()
# 판매수 상위 Item ID
df.groupby('Item ID')['SN'].count().sort_values(ascending = False)[:1]
# 매출 상위 Item IDs
df.groupby('Item ID')['Price'].sum().sort_values(ascending = False)[:3]

Item ID
178    50.76
82     44.10
145    41.22
Name: Price, dtype: float64

## 🔥 도전과제(Github - Discussion)

### 3) 데이터 랭글링 방법들 중 가장 중요하다고 생각하는 방법이나 어려운 점, 혹은 수업에서 배우지 않은 좋은 방법이나 사례가 있으면 서로 공유해 보세요.

In [ ]:
### 이곳에서 과제를 진행해 주세요 ###