<img align="right" src="https://ds-cs-images.s3.ap-northeast-2.amazonaws.com/Codestates_Fulllogo_Color.png" width=100>

## *AIB / SECTION 2 / SPRINT 1 / NOTE 3*

# ğŸ“ Assignment
---

# Ridge Regression

ì´ë²ˆ ëª¨ë“ˆì—ì„œ ë°°ìš´ ë‚´ìš©ì„ ì¡°ê¸ˆ ë‹¤ë¥¸ ë°ì´í„°ë¥¼ í†µí•´ ë³µìŠµí•´ ë´…ì‹œë‹¤. ë°ì´í„°ì— ëŒ€í•œ ì •ë³´ëŠ” ë‹¤ìŒ ë§í¬ë¥¼ ì°¸ì¡°í•´ ì£¼ì„¸ìš”.

- [Melbourne Housing Market]('https://www.kaggle.com/anthonypino/melbourne-housing-market')

ì´ë²ˆì—ë„ Price ë³€ìˆ˜ë¥¼ targetìœ¼ë¡œ ì •í•˜ê³  ëª¨ë¸ì„ êµ¬ì„±í•´ ë´…ì‹œë‹¤.

In [1]:
import pandas as pd
from pandas_profiling import ProfileReport
from sklearn.model_selection import train_test_split

# get data
df = pd.read_csv('https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/melbourne_house_prices/MELBOURNE_HOUSE_PRICES_LESS.csv')

# drop high cardinality cols
df.drop(columns=['Suburb','Address','SellerG','Date'], inplace=True)

# drop na values in Price
df.dropna(subset=['Price'], inplace=True)

# drop duplicated rows
df.drop_duplicates(inplace=True)

### 1) ë°ì´í„°ì˜ íŠ¹ì„±ì„ íŒŒì•…í•˜ê¸° ìœ„í•´ pandas_profilingì„ ì‚¬ìš©í•´ ë³´ì„¸ìš”.
- **(Urclass Quiz) ë²”ì£¼í˜• íŠ¹ì„±ìœ¼ë¡œ ì›í•«ì¸ì½”ë”©ì„ í•  ìˆ˜ ìˆëŠ” íŠ¹ì„±ì˜ ì „ì²´ ê°œìˆ˜ë¥¼ ì œì¶œí•˜ì„¸ìš”.**

In [ ]:
df.profile_report()

In [2]:
df.dtypes

Rooms              int64
Type              object
Price            float64
Method            object
Postcode           int64
Regionname        object
Propertycount      int64
Distance         float64
CouncilArea       object
dtype: object

In [ ]:
# Type, Method, Regionname, CoucilArea : 4ê°€ì§€

### 2) ë²”ì£¼í˜• ë³€ìˆ˜ë“¤ì— ëŒ€í•´ one-hot encoding(category_encoders)ì„ ìˆ˜í–‰í•˜ê³  ë°ì´í„°ë¥¼ train/test ì…‹ìœ¼ë¡œ ë¬´ì‘ìœ„ë¡œ ë‚˜ëˆ„ì–´ ì£¼ì„¸ìš”.(train/test = 80%/20%)
- [category_encoders.one_hot.OneHotEncoder](https://contrib.scikit-learn.org/category_encoders/onehot.html#one-hot), íŒŒë¼ë¯¸í„°ëŠ” use_cat_names = True ì‚¬ìš©
- ë°ì´í„° ë¶„ë¦¬ëŠ” [sklearn.model_selection.train_test_split](https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.train_test_split.html?highlight=train%20test%20split#sklearn-model-selection-train-test-split) ì„ ì‚¬ìš©í•´ ì£¼ì„¸ìš”. ì‚¬ìš©í•´ì•¼ í•˜ëŠ” íŒŒë¼ë¯¸í„°ëŠ” test_size, train_size, random_state=2 ì…ë‹ˆë‹¤. ë‚˜ë¨¸ì§€ëŠ” default ì‚¬ìš©í•©ë‹ˆë‹¤.
- **(Urclass Quiz) ë¶„ë¦¬ëœ í•™ìŠµë°ì´í„°ì˜ ì²«ë²ˆì§¸ ìƒ˜í”Œì˜ ì¸ë±ìŠ¤ ê°’ë¥¼ ì œì¶œí•˜ì„¸ìš”.**

In [6]:
from category_encoders import OneHotEncoder

encoder = OneHotEncoder(use_cat_names = True)
df = encoder.fit_transform(df)

train, test = train_test_split(df, train_size = 0.8, test_size = 0.2, random_state = 2)
train

Warning: No categorical columns found. Calling 'transform' will only return input data.

,Rooms,Type_h,Type_t,Type_u,Price,Method_S,Method_SP,Method_VB,Method_PI,Method_SA,...,CouncilArea_Nillumbik Shire Council,CouncilArea_Whittlesea City Council,CouncilArea_Knox City Council,CouncilArea_Wyndham City Council,CouncilArea_Yarra Ranges Shire Council,CouncilArea_Cardinia Shire Council,CouncilArea_Macedon Ranges Shire Council,CouncilArea_Mitchell Shire Council,CouncilArea_Moorabool Shire Council,CouncilArea_Murrindindi Shire Council
602,4,1,0,0,1750000.0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
40851,5,1,0,0,900000.0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
57233,4,1,0,0,530000.0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
8816,4,1,0,0,975000.0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3481,3,1,0,0,556000.0,1,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44542,3,1,0,0,695000.0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
43399,2,0,0,1,490000.0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8789,6,1,0,0,830000.0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
51700,3,1,0,0,380000.0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
33935,3,1,0,0,1516000.0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [7]:
target = 'Price'

X_train = train.drop(target, axis = 1)
y_train = train[target]
X_test = test.drop(target, axis = 1)
y_test = test[target]

### 3) SelectKBestë¥¼ ì‚¬ìš©í•´ì„œ 20ê°œì˜ íŠ¹ì„±ë§Œ selection í•˜ì„¸ìš”
- score_func ì—ëŠ” f_regressionì„ ì‚¬ìš©í•©ë‹ˆë‹¤
- **(Urclass Quiz) ê°€ì¥ ìŠ¤ì½”ì–´(Attributes: scores_ ì‚¬ìš©)ê°€ ë†’ê²Œ ë‚˜ì˜¨ íŠ¹ì„±ì˜ ì´ë¦„ì„ ì œì¶œí•˜ì„¸ìš”.**

In [10]:
from sklearn.feature_selection import f_regression, SelectKBest
import numpy as np

selector = SelectKBest(score_func = f_regression, k = 20)

X_train_selected = selector.fit_transform(X_train, y_train)
X_test_selected = selector.transform(X_test)

column = df.columns
score = selector.scores_
idx = np.argmax(score)
column[idx]

'Rooms'

### 4) RidgeCVë¥¼ ì‚¬ìš©í•´ì„œ íšŒê·€ëª¨ë¸ì„ ë§Œë“¤ì–´ ë³´ì„¸ìš”
- attributeëŠ” normalize=True, cv=5ë¥¼ ì‚¬ìš©í•˜ì„¸ìš”. ë‚˜ë¨¸ì§€ëŠ” default
- **(Urclass Quiz) alphas = [0, 0.001, 0.01, 0.1, 1] ì„ ì‹œë„í•´ë³´ê³  ê°€ì¥ ì¢‹ì€ ì ìˆ˜ê°€ ë‚˜ì˜¨ alpha ê°’ì„ ì œì¶œí•˜ì„¸ìš”.**

In [ ]:
# ì½”ë©ì—ì„œ ì•„ë˜ì™€ ê°™ì€ ì—ëŸ¬ ë°œìƒì‹œ, sklearn ì¬ì„¤ì¹˜ ì§„í–‰í•©ë‹ˆë‹¤.
# ì—ëŸ¬ë©”ì‹œì§€: 'RidgeCV' object has no attribute 'best_score_' (ver.0.23ë¶€í„° ì ìš©ë¨. ê³µì‹ë¬¸ì„œì—ì„œ í™•ì¸ ê°€ëŠ¥.)
# í•´ê²°: sklearn ì¬ì„¤ì¹˜ í•„ìš”. ë²„ì „ 0.23 ì´ìƒ
# ì¬ì„¤ì¹˜ ë°©ë²•â‡£: 

# sklearn ë²„ì „ í™•ì¸ -> 0.23ë³´ë‹¤ ë‚®ë‹¤ë©´ ì¬ì„¤ì¹˜ ì§„í–‰.
import sklearn
sklearn.__version__

# sklearn ì¬ì„¤ì¹˜
!pip uninstall scikit-learn -y
!pip install -U scikit-learn

# sklearn ë²„ì „ ì¬í™•ì¸ -> 0.23 ì´ìƒìœ¼ë¡œ ì„¤ì¹˜ë˜ì—ˆëŠ”ì§€ í™•ì¸
import sklearn
sklearn.__version__

In [ ]:
from sklearn.linear_model import RidgeCV

alphas = [0,0.001,0.01,0.1,1]

ridge = RidgeCV(alphas = alphas, normalize = True, cv = 5)
ridge.fit(X_train_selected, y_train)

In [26]:
ridge.alpha_, ridge.best_score_

(0.001, 0.5510507608242425)

### 5) í…ŒìŠ¤íŠ¸ì…‹ì— ëŒ€í•œ MAE ê°’ì„ ê³„ì‚°í•˜ê³  ëª¨ë¸ì´ ì˜ ë§Œë“¤ì–´ì¡ŒëŠ”ì§€ í™•ì¸í•´ ë³´ì„¸ìš”.
- **(Urclass Quiz) í…ŒìŠ¤íŠ¸ì…‹ì— ëŒ€í•œ MAE ê°’ì„ ì œì¶œí•˜ì„¸ìš”.(ì†Œìˆ˜ì  ì´í•˜ ë°˜ì˜¬ë¦¼)**

In [28]:
from sklearn.metrics import mean_absolute_error

y_pred = ridge.predict(X_test_selected)

mae = mean_absolute_error(y_test, y_pred)
mae.round(0)

262857.0

## ğŸ”¥ ë„ì „ê³¼ì œ(Github - Discussion)

### ê³µì§€ë¡œ ì•ˆë‚´ë“œë¦¬ëŠ” Github - Discussion í˜ì´ì§€ì— ì˜¬ë ¤ë³´ì„¸ìš”:)

### 6) ë³¸ì¸ë§Œì˜ ì•„ì´ë””ì–´ë¡œ best ridge regression modelì„ ë§Œë“¤ì–´ ì„œë¡œ ê³µìœ í•˜ì‹œê³  í† ë¡ í•´ ë³´ì„¸ìš”. 
    - ì–´ë–¤ íŠ¹ì„±ê³µí•™ì„ ì‚¬ìš©í–ˆê³ , ê·¸ ì´ìœ ì™€ ê¸°ëŒ€íš¨ê³¼ëŠ” ë¬´ì—‡ì´ì—ˆë‚˜ìš”? 
    - ëª¨ë¸ ì„±ëŠ¥ í‰ê°€ ì§€í‘œëŠ” ë¬´ì—‡ìœ¼ë¡œ ì„ ì •í–ˆê³ , ì„ ì •í•œ ì´ìœ ëŠ” ë¬´ì—‡ì¸ê°€ìš”? 
    - ì–´ë– í•œ ë¨¸ì‹ ëŸ¬ë‹ ë¼ì´ë¸ŒëŸ¬ë¦¬ë¥¼ ì‚¬ìš©í–ˆê³ , ì–´ë–¤ íŠœë‹ì„ ì§„í–‰í–ˆë‚˜ìš”? í…ŒìŠ¤íŠ¸ì…‹ì˜ ì„±ëŠ¥ ë³€í™”ëŠ” ì–´ë– í•œê°€ìš”? 
    - ê³¼ì œ ìˆ˜í–‰ ì¤‘ ë¶€ë”ªí˜”ë˜ ì–´ë ¤ì›€ì´ë‚˜ ëª¨ë¥´ëŠ” ì ì´ ìˆì—ˆë‚˜ìš”? ìˆì—ˆë‹¤ë©´ ì–´ë–»ê²Œ í•´ê²°í•´ ë³¼ ìˆ˜ ìˆì„ê¹Œìš”?

### 7) ì›í•«ì¸ì½”ë”©ì—ì„œ ëª¨ë“  ë²”ì£¼í˜• ê°’(uniqueí•œ)ì„ ì»¬ëŸ¼ìœ¼ë¡œ ì¸ì½”ë”©í•  ê²½ìš° ì–´ë–¤ ë¬¸ì œì ì´ ë°œìƒí•  ìˆ˜ ìˆê³ , ì–´ë–»ê²Œ í•´ê²°í•  ìˆ˜ ìˆëŠ”ì§€ì— ëŒ€í•˜ì—¬ ì¡°ì‚¬í•œ í›„ í•¨ê»˜ ë…¼ì˜í•´ ë³´ì„¸ìš”.

### 8) íŠ¹ì„±ì„ íƒ(feature selection) ë°©ë²•ë“¤ì— ëŒ€í•˜ì—¬ ì¡°ì‚¬í•œ í›„ í•¨ê»˜ ë…¼ì˜í•´ ë³´ì„¸ìš”