<img src='https://i.imgur.com/RDAD11M.png' width = '200' align = 'right'>

## *DATA SCIENCE / SECTION 1 / SPRINT 3 / NOTE 2*

# ğŸ“ Assignment

# 1. Eigenstuff

ì£¼ì–´ì§„ matrixì— ëŒ€í•´ì„œ, numpyë¥¼ ì‚¬ìš©í•˜ì—¬, `eigenvalue`ì™€ `eigenvector`ë¥¼ êµ¬í•˜ê³ , ê°ê° `value`, `vector`ì— ì €ì¥í•˜ì„¸ìš”.

\begin{bmatrix} 9 & 4 \\ 4 & 3 \end{bmatrix}

In [7]:
import pandas as pd
import numpy as np

mat = np.array([[9, 4], [4, 3]])
(value, vector) = np.linalg.eig(mat)
value, vector

(array([11.,  1.]), array([[ 0.89442719, -0.4472136 ],
        [ 0.4472136 ,  0.89442719]]))

# 2. PCA

Penguins datasetì„ ì‚¬ìš©í•˜ì—¬ numerical feature 4ê°œì— ëŒ€í•´ì„œ 2ì°¨ì›ìœ¼ë¡œ PCAë¥¼ ì‹œí–‰ í›„ PC1 & PC2ë¥¼ ì‚¬ìš©í•˜ì—¬ scatter plotì„ ê·¸ë¦¬ì„¸ìš”.

- ë°ì´í„°ì…‹ ì‚¬ìš©ì„ ìœ„í•´, ë‹¤ìŒ ë§í¬ë¥¼ ì°¸ì¡°í•˜ì„¸ìš”. <br>
  <http://seaborn.pydata.org/generated/seaborn.load_dataset.html#seaborn.load_dataset>

- 4ê°œì˜ featureëŠ” `bill_length_mm`, `bill_depth_mm`, `flipper_length_mm`, `body_mass_g` ì…ë‹ˆë‹¤.

- 2ê°œì˜ PCë¥¼ ì´ìš©í•˜ì—¬ ì„¤ëª…ë˜ëŠ” varianceì˜ ratioë¥¼ `ratio`ì— ì €ì¥í•˜ì„¸ìš”.

- ë‹¤ìŒê³¼ ê°™ì€ ê²°ê³¼ê°€ ë‚˜ì™€ì•¼ í•©ë‹ˆë‹¤.

<img src='https://i.imgur.com/5BCEHeL.png'>

In [4]:
import seaborn as sns

penguins = sns.load_dataset('penguins')
penguins

# ì •ë§ ëª¨ë¥´ê² ì–´ì„œ ê³µë¶€ë¥¼ ë”í•˜ê³  ì˜¬ë¦¬ê² ìŠµë‹ˆë‹¤

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female
...,...,...,...,...,...,...,...
339,Gentoo,Biscoe,NaN,NaN,NaN,NaN,NaN
340,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,Female
341,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,Male
342,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,Female
343,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,Male

# ğŸ”¥ ë„ì „ê³¼ì œ 

ìœ„ì—ì„œ PCAë¡œ ë§Œë“  ë°ì´í„°ì…‹ì„ ì‚¬ìš©í•˜ì—¬ "Scree Plot"ì„ ë§Œë“¤ì–´ ë³´ì„¸ìš”. 
90%ì˜ ë‚´ìš©ì„ ì„¤ëª…í•˜ê¸° ìœ„í•´ì„œ, ëª‡ ê°œì˜ PCë¥¼ ì‚¬ìš©í•´ì•¼ í•˜ë‚˜ìš”?

In [ ]:
# ì´ ê³³ì— ë‹µì•ˆì„ ì‘ì„±í•˜ì‹œê¸° ë°”ëë‹ˆë‹¤.